@import '../variables.pcss';
@import '../options/datepicker.pcss';
@import '../options/timepicker.pcss';

.dht-wrapper {
    .dht-field-child-datetimepicker {
        .dht-datetimepicker {
            width: 50%;
        }
    }
}