.dht-wrapper {
    .dht-container {
        .dht-field-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 20px 20px;

            &:after {
                content: "";
                clear: both;
                display: table;
            }

            .dht-title {
                font-weight: 600;
                display: block;
            }

            label {
                display: none;
            }
        }
    }
}