$main-color : #2271b1;
$main-color-lighten : #2479be;
$main-color-lighten-2 : #68ace2;
$secondary-color: #1d2327;
$secondary-color-lighten: #32373c;

$dht-container-color : rgb(255, 255, 255);
$btn-color : #fff;
$tooltip-color : #000;
