$main-color : rgb(99, 91, 255);
$main-color-lighten : #a19dff;
$secondary-color: #1d2327;
$secondary-color-lighten: #32373c;

$dht-container-color : rgb(255, 255, 255);
$btn-color : #fff;
$tooltip-color : #000;
